<style>
    .rightbarcustom { 
        border:1px !important; 
        border: solid #000 !important;
        border-width: 0 2px !important;
    }
    .centerme {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T("This scripting site is a development portal for creating python webUI's for python scripts. Contact CS for more information. ")}}
</p>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel-body centerme">
    <center>
        {{=TABLE(*[TR(H1(" Applications List")),TR(A(" Asset Inventory", _href="/SimpleAssetInventory")),TR(T(" More To Come"))], _class="rightbarcustom")}}
    </center>
</div>
{{end}}
